@use 'variaveis';

.about {
    background-color: variaveis.$corFundoSecundaria;
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;

        @media (max-width: 768px) {
            display: block;
            text-align: center;
        }
        
        &__image {
            max-width: 55%;
            width: 100%;
            margin-left: 40px;
            margin-right: 56px;
        }

        &__text {
            margin-right: 56px;

            @media (max-width: 768px) {
                margin: 32px; 
                text-align: left;      
            }

            .title {
                margin-bottom: 16px;

                @media (max-width: 768px) {
                    margin-top: 16px;
                }
            }
        }
    }
}