@use 'variaveis';

.expansion {
    background-color: variaveis.$corFundoPrincipal;
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        
        &__image {
            max-width: 55%;
            width: 100%;
            margin-right: 56px;
        }
        
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 40px;
            margin-right: 56px;

            .title {
                margin-bottom: 16px;
            }

            .text {
                margin-bottom: 32px;
            }
        }
    }
}