@use 'variaveis';

.music {
    background-color: variaveis.$corFundoTerciaria;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding-top: 48px;

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 24px;
            padding-bottom: 32px;
        }

        a {
            text-decoration: none;
            font-size: 28px;
            padding-bottom: 48px;

            &:hover {
                color: #ED0105;
            }
        }
    }
}
    