$corFundoPrincipal: #F5F5F5;
$corFundoSecundaria: #FEC101;
$corFundoTerciaria: #ADD8E6;

$corNomeBoss: #00000011;

$corTitulo: #3f3451;
$corTexto: #2C2C2C;

$corBotao: #3f3451;
$corBotaoHover: #544966;