@use 'variaveis';
@use 'hero';
@use 'about';
@use 'separator';
@use 'boss';
@use 'expansion';
@use 'available';
@use 'music';
@use 'footer';
@use 'header';

@font-face {
    font-family: Bluebird;
    src: url(../../assets/fonts/BluebirdLiExt.otf);
    font-weight: 100;
}

@font-face {
    font-family: Bluebird;
    src: url(../../assets/fonts/Bluebird.otf);
    font-weight: 400;
}

@font-face {
    font-family: Bluebird;
    src: url(../../assets/fonts/BluebirdSfBdExt.otf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@mixin text($fontSize: 1em) {
    color: variaveis.$corTexto;
    font-size: $fontSize;
    font-family: Helvetica, sans-serif;
    line-height: 1.4em;
}

@mixin text-font-tilte($fontSize: 1.6em) {
    color: variaveis.$corTitulo;
    font-size: $fontSize;
    line-height: 1.2em;
    font-family: Bluebird, Helvetica, sans-serif;
    font-weight: 100;
}


@mixin title($fontSize: 2.8em) {
    color: variaveis.$corTitulo;
    font-size: $fontSize;
    line-height: 1.2em;
    font-family: Bluebird, Helvetica, sans-serif;
    font-weight: 700;
}

.title--small {
    @include title(1.5em);
}


.title {
    @include title;
}

.text {
    @include text;
}

.text--font-title {
    @include text-font-tilte()
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    // background-color: red;
}

.button {
    display: inline-block;
    background-color: variaveis.$corBotao;
    color: #ece8e7;
    font-size: 22px;
    padding: 0.6em 1em;
    font-family: Bluebird;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.05em;
    border-radius: 0.25em;
    cursor: pointer;

    &:hover {
        background-color: variaveis.$corBotaoHover;
    }
}

.back-to-top {
    position: fixed; 
    bottom: 20px;    
    right: 20px;  
    cursor: pointer; 
    display: none; 
    z-index: 1000;
    width: 64px;
    opacity: 60%;
}

.back-to-top:hover {
    opacity: 100%;
    bottom: 22px;    
    right: 22px;
}